.container
{
    position: absolute;
    top: 280px;
    left: 280px;
    transform: translate(-50%,-50%);
    width: 30%;
    
}
.imageBox
{
    position: absolute;
    top: 0;
    left: 0;
}
.grey
{
    filter: grayscale(100%);
}
.color
{
    width: 0;
    transition: 0.1s;
    overflow: hidden;
    border-right: 2px solid #262626;
}
.container:hover .color
{
    width: 184%;
}
